<!DOCTYPE html>
<html lang="en" ng-app="leplannerApp" ng-controller="MainCtrl as main">
<head>
  <meta charset="UTF-8">
  <title>LePlanner</title>
  <script src="assets/libs/angular/angular.min.js" charset="utf-8"></script>
  <script src="assets/libs/angular-route/angular-route.min.js" charset="utf-8"></script>
  <script src="assets/libs/angular-resource/angular-resource.min.js" charset="utf-8"></script>
  <script src="assets/libs/lodash/dist/lodash.min.js" charset="utf-8"></script>
  <script src="assets/libs/angularjs-dropdown-multiselect/dist/angularjs-dropdown-multiselect.min.js" charset="utf-8"></script>
  <script src="assets/libs/angular-messages/angular-messages.min.js"></script>
  <script src="controllers.js" charset="utf-8"></script>
  <script src="app.js" charset="utf-8"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Custom styles for this template -->
  <link href="style.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>
<div align="center">


</div>


<!-- ////////////////////// -->
<!-- ||||||   MENU   |||||| -->
<!-- ////////////////////// -->

<nav class="navbar navbar-default navbar-fixed-top">

  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav">
        <li ><a class="navbar-brand" href="#/"></a>
        <li ><a href="#/" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false" >LePlanner</a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li class="active"><a href="/#/">Avaleht</a></li>
            <li><a href="/#/search">Otsi</a></li>
            <li><a href="subject.php">Aine</a></li>
            <li><a href="member.php">Kasutaja</a></li>
            <li><a href="scenario.php">Stsenaarium</a></li>
            <li><a href="dashboard.php">Sisse logitud</a></li>
          </ul>
        </li>
        </li>
      </ul>



      <a ng-hide=user class="pull-right btn btn-primary btn-sm login-top" href="/#/login">Logi sisse</a>

      <div style="padding:10px" class="dropdown pull-right " ng-show=user {{user.first_name}}>
        <img src="{{user.google.image}}" alt="myFace" class="img-square" style="height:30px;width:30px">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          {{user.first_name}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/#/profile/{{user._id}}">Minu profiil</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="logout()" href="#">Log out</a></li>
        </ul>
      </div>


      <!--<a ng-show=user {{user.first_name}}, ng-click="logout()"  class="pull-right btn btn-primary btn-sm login-top" href="/#">Logi välja</a>-->


      <div class="header-search inner-addon right-addon pull-right" >
        <!--<a href="/#/views/home"><i type="submit" class="glyphicon glyphicon-search" ng-click="searchScenario(name)"></i></a>
        <input type="text" name="search" ng-model="name" class="form-control" placeholder="Search">-->
        <form class="form-inline">
          <input ng-model="query" type="text"
                 placeholder="Filter by" autofocus>
        </form>
      </div>





    </div><!-- /.navbar-collapse -->

  </div>

</nav>

<div ng-view ng-controller="homeCtrl"></div>

<!-- /////////////////////// -->
<!-- ||||||   FOOTER   |||||| -->
<!-- //////////////////////// -->

<div class="container footer">

  <div class="col-md-8">
    <a href="#">Abi</a>
  </div>

  <div class="col-md-4">
    <p class="pull-right">2015 LePLanner. Creative Commons</p>
  </div>

</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>






</body>
</html>
