<p ng-hide="user"> Please login to add scenario</p>
<form ng-show="user" ng-submit="submit()" name="addScenario">

  <span>Title: </span>
  <input type="text" ng-model="name" name="titleName" autofocus required/>
  <div ng-messages="addScenario.titleName.$error" role="alert">
    <div ng-message="required" style="color: red" style="display: inline">Field can't be empty!</div>
    <div ng-message="minlength">At least 1 character required</div>
  </div>

  <br />

  <span>Subject: </span>
  <select ng-model="subject" name="subjectName" required>
    <option ng-repeat="subject in subjects" value="{{subject}}">{{subject}}</option>
  </select>

  <div ng-messages="addScenario.subjectName.$error" role="alert">
    <div ng-message="required" style="color: red">Choose a subject</div>
  </div>

  <br />

  <span>License: </span>
  <select ng-model="license" name="licenseName">
    <option ng-repeat="license in licenses" value="{{license}}">{{license}}</option>
  </select>

  <br/>

  <span>Language: </span>
  <select ng-model="language" name="languageName">
    <option ng-repeat="language in languages" value="{{language}}">{{language}}</option>
  </select>

  <br />

  <span>Material type: </span>
  <select ng-model="materialType" name="materialTypeName">
    <option ng-repeat="material in materials" value="{{material}}">{{material}}</option>
  </select>

  <br />

  <span>Method: </span>
  <select ng-model="method" name="methodName">
    <option ng-repeat="method in methods" value="{{method}}">{{method}}</option>
  </select>

  <br />

  <span>Stage: </span>
  <select ng-model="stage" name="stageName">
    <option ng-repeat="stage in stages" value="{{stage}}">{{stage}}</option>
  </select>

  <br />

<!--
  <span>Technical: </span>
  <select ng-model="technical" name="techinalName">
    <option></option>
  </select>
-->
  <span>Technical coming soon!</span>

  <br />

  <span>Add description:</span> <br />
  <textarea ng-model="description" name="description"></textarea>

  <br />

  <input type="submit" id="submit" value="Submit" />
</form>
