<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LePlanner</title>
</head>
<body>

          <div ng-if="user">
            <div ng-if="!isSubscribed()">
              <button ng-click="subscribe()" >
              Subscribe
              </button>
            </div>
            <div ng-if="isSubscribed()">
              <button ng-click="unsubscribe()">
                Unsubscribe
              </button>
            </div>
          </div>

          {{user}}
          <div ng-if="!user">
            <a href="/#/login">Login to Subscribe</a>
          </div>

        <div >
          <h2>
            Name: {{scenario.name}}
            <span> {{scenario.rating}}</span>
          </h2>
          Category: {{scenario.subject}}
        </div>
        <div>
          <a href="/#/edit/{{scenario._id}}">Edit</a>
        </div>

</body>
</html>
