<div class="container main-content">
	<div ng-show="user">
		<form ng-show="user" ng-controller="EditCtrl">
			Name<input type="text" value="{{scenario.name}}" name="name" ng-model="scenario.name"><br>
			Subject
			<select ng-model="scenario.subject">
				<!--<option selected="selected" value="{{scenario.subject}}" name="scenario.subject">{{scenario.subject}}</option>-->
				<option ng-repeat="subject in subjects" value="{{subject}}"  name="subject">{{subject}}</option>
			</select><br>
			<textarea ng-model="scenario.description" name="description" name="description">{{scenario.description}}</textarea>
			<input type="submit" ng-click="saveEdit()" value="Save"><br>
			<button type="cancel" ng-click="cancelEdit()">Cancel</button>

		</form>
	</div>
</div>
