<div class="container main-content">
  <p>
    <h1>Kasutajajuhend</h1>
Kasutajajuhend on dokument, milline käsitleb kasutaja vaadet süsteemile -
  milleks toodet saab kasutada, kuidas toodet kasutada,
  millised on võimalikud veasituatsioonid ning nende lahendamine.
  Kasutajajuhend ei vaatle süsteemi „sisemust" vaid seda, mis on kasutajale nähtav.
  Kui tarvis lisada siia ka installeerimise juhend.</p>

<br />

<h2>Tavaline (sisselogimata) lehekülastaja</h2>
<p>Mitte sisseloginud lehekülastajale kuvatakse avalehel värskeimad õpistsenaariumid. Ta saab otsingu kaudu leida stsenaariume ja vaadata teiste poolt loodud stsenaariume ning kasutada ka täpsemat otsingut spetsiifilisema otsingutulemuse saamiseks. Avalikult on ligipääsetavad ka registreeritud (Google-i kontoga vähemalt 1 kord sisse loginud) kasutajate profiilid. Ilma registreeritud profiilita lehekülastaja ei saa õpistsenaariume luua. Õpistsenaariumi lisamise nupule vajutades tuleb teade, mis käsib külastajal end sisse logida.</p>

<br />

<h2>Sisseloginud kasutaja</h2>
<p>LePlanner konto registreeritakse kõige esimesel sisselogimisel Google-i kontoga ning kasutaja andmed (id, ees-, perenimi, Google-i id, meiliaadress, profiilipilt, liitumise kuupäev ja kellaaeg) salvestatakse andmebaasi.
Samamoodi nagu tavalisel lehekülastajal kuvatakse ka Google-i konto kaudu sisseloginud kasutajale avalehele värskeimad õpistsenaariumid.
Sarnaselt mitte sisseloginud külastajale saab sisseloginud kasutaja leida ja vaadata kõiki stsenaariume ning kindlate kriteeriumite korral kasutada täpsemat otsingut. Tal on võimalus nii teiste kui enda profiili vaadata.
Ainult sisselogitud kasutajad saavad õpistsenaariume koostada, samuti ka oma stsenaariume muuta ja kustutada.</p>
<br />

<h2>Õpistsenaariumi loomine: </h2>
<p>Stsenaariumi koostamine toimub lohistades erineva värvi ja sisuga kaste (meetod, materjal, vahend, ülesanne jm) fikseeritud ajajoonele pikkusega 11 kasti.</p>
</div>
