<div class="container main-content">

<!-- User manual -->

  <h1>User manual</h1>

<br />

<!-- If user is not logged in -->

<h2>Regular (not logged in) visitor</h2>
<p>Not logged in user sees latest, alphabetical and oldest scenarios on the home page.
They can find scenarios by using the search, see scenarios created by other people and use the advanced search to get more specific results.
Users profile (who have logged in with Google at least once) are also publicly accessible. Unregistered users can't create
scenarios without a registered profile. If an unregistered user wants to create scenarios, they will receive a notification, which says that they need to log in.
</p>

<br />

<!-- If user is logged in -->

<h2>Logged in user</h2>
<p>
	LePlanner account will be created on the first login with the Google account and the user data (id, first and last name, Google id, e-mail address, profile picture, joining date and time) will be saved to the database.
	Just like regular visitor, registered users will also see the latest, alphabetical and oldest scenarios.
	Similarly to the regular visitor, registered users can find and see all scenarios and use the advanced search to get specific results. They can see their own and other people profiles.
	Only registered users can create scenarios - also edit and delete.
</p>

<br />

<!-- How to create a scenario -->

<h2>Creating a scenario: </h2>
<p>
	To create a scenario, one has to drag-and-drop boxes with different color and contents (method, material, tool, task etc..) to the fixed timeline with the length of 11 boxes.
</p>

<br />

<!-- Who made the web applications -->

<h2>Authors</h2>
<footer>
  <p>This websites prototype was made by students of TLU Institute of Informatics.
<br />
<br />

Authors: <br />
Konstantin Tenman <br />
Andre Post <br />
Marten Rebane <br />
Elinda Tragel <br />
Vladislav Minajev <br />


<br />
<br />

2015</p>

</footer>

</div>
