
<ul class="subjects">
  <li ng-repeat="subject in subjects">
    <span ng-click="filterBySubject(subject)">{{subject}}</span>
  </li>
</ul>
<div>
  <input type="text" name="search" ng-model="name" placeholder="Search"><input type="submit" value="Search" ng-click="searchScenario(name)">
</div>
<div class="col-xs-4 col-md-3" ng-repeat="scenario in scenarios | filter:query">
  <div class="text-center">
    <a href="/#/scenarios/{{scenario._id}}">{{scenario.name}}</a><button ng-click="delete(scenario._id);">Delete</button>
  </div>
</div>
