<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LePlanner</title>
</head>
<body>

<!-- ///////////////////////// -->
<!-- ||||||   CONTENT   |||||| -->
<!-- ///////////////////////// -->
<div class="container main-content">

  <!-- Jumbotron -->
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-1">
        <img class="first-page-banner" src="./assets/logo.png">
        <img class="first-page-preview" src="./assets/preview.png">
      </div>
      <div class="col-sm-5">
        <h2>Loo. Jaga. Avasta. Õpistsenaariumid</h2>
        <p class="lead home-intro" class="thumbnail-caption">Cras justo odio, dapibus ac facilisis in, egestas eget quam. todio, dapibus ac facilisis in, egestas eget quam.</p>
        <p><a class="btn btn-sm  btn-success" href="/#/add" role="button"> LOO ÕPISTSENAARIUM <span class="glyphicon glyphicon-chevron-right"></span></a></p>
      </div>
    </div>
  </div>
</div>



<ul class="subjects">
  <li ng-repeat="subject in subjects">
    <span ng-click="filterBySubject(subject)">{{subject}}</span>
  </li>
</ul>

<div class="col-xs-4 col-md-3" ng-repeat="scenario in scenarios | filter:query">
  <div class="text-center">
    <a href="/#/scenarios/{{scenario._id}}">{{scenario.name}}</a>
  </div>
</div>
</body>
</html>
