
<!--<div>
  <input type="text" name="search" ng-model="name" placeholder="Search"><input type="submit" value="Search" ng-click="searchScenario(name)">
</div>-->


<!-- ///////////////////////// -->
<!-- ||||||   CONTENT   |||||| -->
<!-- ///////////////////////// -->

<div class="container main-content">


  <!-- Jumbotron -->
  <div class="jumbotron">
    <div class="row ">

      <!--<div class="col-xs-4 col-md-3" id="scenarios_list">
          <div id="{{scenario._id}}" class="text-center" ng-repeat="scenario in scenarios | filter:query">
              <a href="/#/scenarios/{{scenario._id}}">{{scenario.name}}</a><button ng-click="delete(scenario._id);">Delete</button>
          </div>
      </div>-->




      <div class="col-sm-6 col-sm-offset-1">
        <img class="first-page-banner" src="/assets/logo.png">
        <img class="first-page-preview" src="/assets/preview.png">
      </div>
      <div class="col-sm-5">
        <h2>Create. Share. Discover. Scenarios</h2>
        <p class="lead home-intro" class="thumbnail-caption">Cras justo odio, dapibus ac facilisis in, egestas eget quam. todio, dapibus ac facilisis in, egestas eget quam.</p>
        <p><a class="btn btn-sm  btn-success" href="#/add" role="button">CREATE SCENARIO <span class="glyphicon glyphicon-chevron-right"></span></a></p>
      </div>
    </div>
  </div>



 <!-- <div id="scenarios_list">
    <div ng-controller="homeCtrl" >
      <div id="{{scenario._id}}" class="col-md-2" ng-repeat="scenario in scenarios | filter:query | orderBy: 'name'">
        <a href="/#/scenarios/{{scenario._id}}" class="glyphicon glyphicon-pencil">{{scenario.name}}</a>
       <button ng-click="delete(scenario._id);">Delete</button>
      </div>
    </div>
  </div>-->


  <!-- //////////////////////////// -->
  <!-- ||||||   THUMBNAILS   |||||| -->
  <!-- //////////////////////////// -->
  <div class="row">
      <div class="container">
          <section ng-app="myApp" ng-controller="TabController as tab">


          <ul class="nav nav-tabs nav-tab-pop">
              <li ng-class="{active:tab.isSet(1)}">
                  <a href ng-click="tab.setTab(1)">Latest</a>
              </li>
              <li ng-class="{active:tab.isSet(2)}">
                  <a href ng-click="tab.setTab(2)">Alphabetical</a>
              </li>
              <li ng-class="{active:tab.isSet(3)}">
                  <a href ng-click="tab.setTab(3)">Oldest</a>
              </li>
          </ul>

            <div ng-show="tab.isSet(1)">
                <div class="col-xs-6 col-sm-3" id="scenarios_list" ng-repeat="scenario in scenarios | filter:query | orderBy: '-created' | limitTo:4" >
                  <div class="thumbnail thumbnail-first-page" ng-controller="homeCtrl">
                      <a href="/#/scenarios/{{scenario._id}}">
                        <img class="thumbnail-preview" src="./assets/thumbnail_200.png" alt="Generic placeholder thumbnail">
                      </a>
                      <p  ng-controller="homeCtrl" id="{{scenario._id}}">
                        <h4>{{scenario.name}}</h4>
                          <p class="thumbnail-caption">{{scenario.description | limitTo: 60}}{{scenario.description.length > 60 ? '...' : ''}}</p>

                              <span class="favorited-and-comments">
                                  <span class="glyphicon glyphicon-heart">23</span>
                                  <span class="glyphicon glyphicon-comment">2</span>
                              </span>

                              <a class="open-link pull-right" href="/#/scenarios/{{scenario._id}}">
                               OPEN
                                  <span class="glyphicon glyphicon-chevron-right"></span>
                              </a>

                      </div>
                  </div>
                </div>




              <div ng-show="tab.isSet(2)">
                  <div class="col-xs-6 col-sm-3" id="scenarios_list" ng-repeat="scenario in scenarios | filter:query | orderBy: 'name' | limitTo:4" >
                      <div class="thumbnail thumbnail-first-page" ng-controller="homeCtrl">
                          <a href="/#/scenarios/{{scenario._id}}">
                              <img class="thumbnail-preview" src="./assets/thumbnail_200.png" alt="Generic placeholder thumbnail">
                          </a>
                          <p  ng-controller="homeCtrl" id="{{scenario._id}}">
                          <h4>{{scenario.name}}</h4>
                          <p class="thumbnail-caption">{{scenario.description | limitTo: 60}}{{scenario.description.length > 60 ? '...' : ''}}</p>

                              <span class="favorited-and-comments">
                                  <span class="glyphicon glyphicon-heart">23</span>
                                  <span class="glyphicon glyphicon-comment">2</span>
                              </span>

                          <a class="open-link pull-right" href="/#/scenarios/{{scenario._id}}">
                              OPEN
                              <span class="glyphicon glyphicon-chevron-right"></span>
                          </a>

                      </div>
                  </div>
              </div>


              <div ng-show="tab.isSet(3)">
                  <div class="col-xs-6 col-sm-3" id="scenarios_list" ng-repeat="scenario in scenarios | filter:query | orderBy: 'created' | limitTo:4" >
                      <div class="thumbnail thumbnail-first-page" ng-controller="homeCtrl">
                          <a href="/#/scenarios/{{scenario._id}}">
                              <img class="thumbnail-preview" src="./assets/thumbnail_200.png" alt="Generic placeholder thumbnail">
                          </a>
                          <p  ng-controller="homeCtrl" id="{{scenario._id}}">
                          <h4>{{scenario.name}}</h4>
                          <p class="thumbnail-caption">{{scenario.description | limitTo: 60}}{{scenario.description.length > 60 ? '...' : ''}}</p>

                              <span class="favorited-and-comments">
                                  <span class="glyphicon glyphicon-heart">23</span>
                                  <span class="glyphicon glyphicon-comment">2</span>
                              </span>

                          <a class="open-link pull-right" href="/#/scenarios/{{scenario._id}}">
                              OPEN
                              <span class="glyphicon glyphicon-chevron-right"></span>
                          </a>

                      </div>
                  </div>
              </div>


          </section>
        </div>
</div>

  <h3>Subjects</h3>

  <ul class="subjects">
    <li style="list-style: none" ng-repeat="subject in subjects"  class="col-xs-6 col-sm-4">
      <a ng-click="filterBySubject(subject)" style="cursor: pointer">{{subject}}</a>
    </li>
  </ul>




</div><!-- /.container MAIN CONTENT-->
