<div class="container main-content">
	<h2>Search</h2>
	<!-- Dropd down menu and textbox for search criterions -->
	<div class="row search-fields-top">
		<form>
			<div class="col-sm-3">
				<input class="form-control" type="text" ng-model="name" name="name" placeholder="Search">
			</div>
		  <div style="display: inline" ng-dropdown-multiselect="" options="subjects" selected-model="subject" extra-settings="searchSettings" translation-texts="searchText"></div>

			<div style="display: inline" ng-dropdown-multiselect="" options="methods" selected-model="method" extra-settings="methodSettings" translation-texts="methodText"></div>

			<div style="display: inline" ng-dropdown-multiselect="" options="stages" selected-model="stage" extra-settings="methodSettings" translation-texts="stageText"></div>

			<input style="width:100px;display: inline" class="btn btn-primary btn-block" type="submit" value="Search" ng-click="search()">
		</form>
	</div>
<!-- Search div where all the results are shown -->
	<div class="row advanced-options-and-results">
		<!-- <div class="col-sm-3">
			<div id="accordion" class="panel-group">
          <div class="panel panel-default">
            <!-- Default panel contents 
            <div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-target="#collapseOne" data-parent="#accordion" >Technical resources<span class="glyphicon glyphicon-menu-down"></span></a>
							</h4>
						</div>

						<div id="collapseOne" class="panel-collapse collapse">
							<div class="panel-body">
								<ui-select multiple ng-model="tech" theme="bootstrap" ng-disabled="disabled" close-on-select="false" style="width: 200px;" title="Choose tech">
							    <ui-select-match placeholder="Select tech...">{{$item}}</ui-select-match>
							    <ui-select-choices repeat="tech in techs" theme="bootstrap">
							      <!-- {{tech}} 
							    </ui-select-choices><br>
							  </ui-select>
							</div>
						</div>
          </div>

          <div class="panel panel-default">
            <!-- Default panel contents 
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-target="#collapseTwo" data-parent="#accordion" >Number of students<span class="glyphicon glyphicon-menu-down"></span></a>
							</h4>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse">
							<div class="panel-body">
								<p></p>
							</div>
						</div>
          </div>

          <div class="panel panel-default">
            <!-- Default panel contents 
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-target="#collapseThree" data-parent="#accordion" >Language<span class="glyphicon glyphicon-menu-down"></span></a>

							</h4>
						</div>

						<div id="collapseThree" class="panel-collapse collapse">
							<div class="panel-body">
								<p></p>
							</div>
						</div>
          </div>

          <div class="panel panel-default">
            <!-- Default panel contents 
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-target="#collapseFour" data-parent="#accordion" >License<span class="glyphicon glyphicon-menu-down"></span></a>

							</h4>
						</div>

						<div id="collapseFour" class="panel-collapse collapse">
							<div class="panel-body">
								<p></p>
							</div>
						</div>
          </div>

          <div class="panel panel-default">
            <!-- Default panel contents 
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-target="#collapseFive" data-parent="#accordion" >Material type<span class="glyphicon glyphicon-menu-down"></span></a>

							</h4>
						</div>

						<div id="collapseFive" class="panel-collapse collapse">
							<div class="panel-body">
								<p></p>
							</div>
						</div>
          </div>

          <div class="panel panel-default">
            <!-- Default panel contents 
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-target="#collapseSix" data-parent="#accordion" >Created from<span class="glyphicon glyphicon-menu-down"></span></a>

							</h4>
						</div>

						<div id="collapseSix" class="panel-collapse collapse">
							<div class="panel-body">
								<p></p>
							</div>
						</div>

          </div>

          <div class="panel panel-default">
            <!-- Default panel contents 
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-target="#collapseSeven" data-parent="#accordion" >Created to<span class="glyphicon glyphicon-menu-down"></span></a>

							</h4>
						</div>

						<div id="collapseSeven" class="panel-collapse collapse">
							<div class="panel-body">
								<p></p>
							</div>
						</div>
          </div>
				</div>
      </div> -->
		<div class="col-sm-9">
			<h4 class="results-heading">Found some answers</h4>
			<!-- ng-repeat that repeats the divs for each scenario in scenarios array/object -->
			<div class="single_scenario_item" id="{{scenario._id}}" ng-repeat="scenario in scenarios | filter:query">

		    <div class="row">
		      <div class="col-sm-12">
		        <h4><strong><a href="/#/scenarios/{{scenario._id}}">{{scenario.name}}</a></strong></h4>
		      </div>
		    </div>

		    <div class="row">
		      <div class="col-sm-4">
		        <a href="scenario.php" class="thumbnail">
		            <img src="./assets/thumbnail_200.png" alt="">
		        </a>

					<br />
		      </div>
		      <div class="col-sm-8">
		        <p class="extra-info">
		          <span class="glyphicon glyphicon-user"></span> <a href="/#/profile/{{scenario.author.id}}">{{scenario.author.name}}</a><br>
		          <span class="glyphicon glyphicon-calendar"></span> {{scenarioTime}}
		        </p>
		        <p>
							{{scenario.description}}
		        </p>
		        <div class="row">
		          <div class="col-sm-9">
		            <span class="labels">
									<a href="scenario.php"><span class="label label-danger">{{scenario.method}}</span></a>
									<a href="scenario.php"><span class="label label-success">{{scenario.materialType}}</span></a>
		             </span>
		          </div>
		          <div class="col-sm-3">
		           <a class="btn btn-success btn-block btn-sm pull-right" href="/#/scenarios/{{scenario._id}}">OPEN <span class="glyphicon glyphicon-chevron-right"></span></a>
		          </div>
		        </div>
		      </div>
		    </div>
			</div>
		</div>
	</div>
</div>
