<div class="container main-content">
	<h2>Search</h2>
	<form>
		<input type="text" ng-model="name" name="name">
	  <div style="display: inline" ng-dropdown-multiselect="" options="subjects" selected-model="subject" extra-settings="searchSettings"></div>
		<select class="" ng-model="method" name="method">
			<option ng-repeat="method in methods" value="{{method}}">{{method}}</option>
		</select>

		<select class="" ng-model="stage" name="stage">
			<option ng-repeat="stage in stages" value="{{stage}}">{{stage}}</option>
		</select>

		<input style="width:100px;display: inline" class="btn btn-primary btn-block" type="submit" value="Search" ng-click="search()">
	</form>


	  <!--<div id="{{scenario._id}}" class="text-center" ng-repeat="scenario in scenarios | filter:query">
	    <a href="/#/scenarios/{{scenario._id}}">{{scenario.name}}</a><button ng-click="delete(scenario._id);">Delete</button>
	  </div>-->


		<div class="single_scenario_item" id="{{scenario._id}}" ng-repeat="scenario in scenarios | filter:query">

    <div class="row">
      <div class="col-sm-12">
        <h4><strong><a href="/#/scenarios/{{scenario._id}}">{{scenario.name}}</a></strong></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <a href="scenario.php" class="thumbnail">
            <img src="./assets/thumbnail_200.png" alt="">
        </a>
         <span class="rating">
          	<span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <br>
            <span class="glyphicon glyphicon-comment"></span> <a href="scenario.php">3 comments</a>
         </span>
      </div>
      <div class="col-sm-8">
        <p class="extra-info">
          <span class="glyphicon glyphicon-user"></span> <a href="scenario.php">{{scenario.author.name}}</a><br>
          <span class="glyphicon glyphicon-calendar"></span> {{scenario.created}}
        </p>
        <p>
					{{scenario.description}}
        </p>
        <div class="row">
          <div class="col-sm-9">
            <span class="labels">
							<a href="scenario.php"><span class="label label-danger">{{scenario.method}}</span></a>
							<a href="scenario.php"><span class="label label-success">{{scenario.materialType}}</span></a>
             </span>
          </div>
          <div class="col-sm-3">
           <a class="btn btn-success btn-block btn-sm pull-right" href="/#/scenarios/{{scenario._id}}">OPEN <span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>
        </div>

      </div>
    </div>

</div>
</div>
